<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="inertia_macros.xacro" />
    <joint name="camera_joint" type="fixed">
        <parent link="head" />
        <child link="camera" />
        <!-- <origin xyz="0 0.205 0.125" /> -->
    </joint>

    <link name="camera">
        <visual>
            <origin xyz="0 0.0762 0.111" rpy="${-pi/2} ${3*pi/7} ${pi/2}" />
            <geometry>
                <mesh filename="package://fonbot_package/models/camera.dae" scale="0.017 0.017 0.017" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0.0762 0.111" rpy="${-pi/2} ${3*pi/7} ${pi/2}" />
            <geometry>
                <mesh filename="package://fonbot_package/models/camera.dae" scale="0.017 0.017 0.017" />
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.05" x="0.02" y="0.02" z="0.02">
            <origin xyz="0 0.0762 0.111" rpy="${-pi/2} ${3*pi/7} ${pi/2}" />
        </xacro:inertial_box>
    </link>

</robot>